.btn {
  @apply bg-green-500 text-white py-0.5 px-2 sm:py-2 sm:px-4 rounded-lg text-sm sm:text-xl cursor-pointer hover:bg-green-700;
}

.card {
  @apply relative w-[85px] h-[130px] md:h-[140px] md:w-[100px] cursor-pointer transition-transform duration-300;
  transform-style: preserve-3d;
}

.card.is-revealed {
  transform: rotateY(180deg);
}

.card-face,
.card-back {
  @apply absolute;
  backface-visibility: hidden;
}

.card-face {
  transform: rotateY(180deg); /* Flip the front to hide by default */
}
